@import '../abstract/colors'
@import '../abstract/sizes'

.card
  background-color darkblue
  border-radius 1rem
  overflow hidden

  &__background-image
    display flex
    justify-content right
    height 60px
    padding-inline-end 1.5rem
    overflow hidden

    > img
      transform scale(1.25)

    &--work
      background-color lightorange

    &--play
      background-color softblue

    &--study
      background-color lightred

    &--exercise
      background-color limegreen

    &--social
      background-color violet

    &--self-care
      background-color softorange



  &__info 
    padding defaultPadding
    padding-block-end .75rem
    border-radius @border-radius
    transform translateY(-1rem)
    background-color darkblue

    &-menu
      display flex

    &-title
      font-weight 500

    &-button
      margin-inline-start auto
      width 19px
      height 5px

    &-time
      display none

      &--show
        display flex
        align-items center
        margin-block-start 1rem

        @media screen and (min-width 1440px)
          flex-flow column wrap
          align-items flex-start
          margin-block-start 2rem

    &-current
      font-size 2.5rem
      font-weight 300
      display inline-block

      @media screen and (min-width 1440px)
        font-size 3rem
        display block
        

    &-previous
      vertical-align middle
      font-size 1rem
      color paleblue
      display inline-block
      position relative
      margin-inline-start auto

      @media screen and (min-width 1440px)
        margin-block-start 1rem
        padding-block-end auto
        margin-inline-start 0
        font-size .85rem
        
        display block
        
