@import '../abstract/colors'
@import '../abstract/sizes'

.card
  padding defaultPadding
  background-color darkblue
  border-radius 1rem

  &__info-time
    display none

    &--show
      display block

  &__info-current
    font-size 3rem
    font-weight 300

  &__info-previous
    font-size .8rem
    color paleblue
  
  &__info-current
  &__info-previous
    margin-block-start 1rem
