.time-tracking
  margin-inline auto
  margin-block 253px
  display grid
  grid-template-columns repeat(4, 1fr)
  grid-template-rows repeat(2, 1fr)
  min-height 518px
  max-width calc(1110px)
  gap 1.9rem
