.time-tracking
  margin-inline auto
  display grid
  max-width 90%
  min-height 518px
  margin-block 80px
  gap 1.6rem

  @media screen and (min-width: 1440px)
    margin-block 253px
    grid-template-columns repeat(4, 1fr)
    grid-template-rows repeat(2, 1fr)
    max-width 1110px
