@import 'components/*'
@import 'utilities/*'
@import 'abstract/fonts'
@import 'abstract/sizes'

:root
  color white
  font-family 'Rubik'
  box-sizing border-box
  font-size baseFontSize

body
  background-color verydarkblue